<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Member Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/members/new}">Add Member</a>
            </li>
        </ul>
    </div>
</nav>
<div class="p-3 bg-light">
    <br><br>
<div class="container">
    <div class="row">
        <h2 align="center">Members</h2>
    </div>
    <br>
    <table class="table table-bordered table-hover">
        <thead class = "table-primary">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody class="bg-white">
            <tr th:each = "member: ${members}">
                <td><a th:text = "${member.firstname}" th:href="@{/members/edit/{id}(id=${member.id})}"></a></td>
                <td><a th:text = "${member.lastname}" th:href="@{/members/edit/{id}(id=${member.id})}"></a></td>
                <td><a th:text = "${member.phone}" th:href="@{/members/edit/{id}(id=${member.id})}"></a></td>
                <td><a th:text = "${member.email}" th:href="@{/members/edit/{id}(id=${member.id})}"></a></td>
                <td>
                    <a th:href="@{/members/{id}(id=${member.id})}" class="btn btn-danger">x</a>
                </td>
            </tr>

        </tbody>
    </table>
</div>
</div>
</body>
</html>