<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Member Management System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">&nbsp;&nbsp;Member Management System</a>

    <!-- Toggler/collapsible Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/members}">Members</a>
            </li>
        </ul>
    </div>
</nav><br><br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card bg-light border border-primary">
                <br>
                <h2 class="text-center">Add a New Member</h2>
                <div class="card-body">
                    <form th:action="@{/members}" th:object="${member}" method="POST">
                        <div class="form-group mb-3">
                            <label>First Name</label>
                            <input type="text" name="firstname" th:field="*{firstname}" class="form-control" placeholder="Enter First Name"/>
                        </div>
                        <div class="form-group mb-3">
                            <label>Last Name</label>
                            <input type="text" name="lastname" th:field="*{lastname}" class="form-control" placeholder="Enter Last Name"/>
                        </div>
                        <div class="form-group mb-3">
                            <label>Phone</label>
                            <input type="number" name="phone" th:field="*{phone}" class="form-control" placeholder="Enter Phone"/>
                        </div>
                        <div class="form-group mb-3">
                            <label>Email</label>
                            <input type="email" name="email" th:field="*{email}" class="form-control" placeholder="Enter Email"/>
                        </div>
                        <div align="center" class="box-footer">
                            <button type="submit" class="btn btn-primary">
                                Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>